<% content_for :title, "Editando articulo" %>

<h1>Editando articulo</h1>

<%= render "form", articulo: @articulo %>

<br>

<div>
  <%= link_to "Mostrar este articulo", @articulo %> |
  <%= link_to "Regresar a articulos", articulos_path %>
</div>
